{% extends 'base_main.html' %}

{% block title %}
修改文章 - 博客管理系统
{% endblock %}


{% block js1 %}
          {% load static %}
          <script type="text/javascript" src="{% static 'kindeditor/kindeditor-all.js' %}"></script>
          <script type="text/javascript" src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
          <script type="text/javascript">
              KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id',{
                    uploadJson:'/util/upload/kindeditor'
                });
          });
          </script>
{% endblock %}





{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">





        <form action="" method="post" class="add-article-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ msg }}
          <div class="col-md-9">
          <h1 class="page-header">修改文章</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <!--<font class="old_title">{{article.title}}</font>-->
              <input type="text" id="article-title" name="title" class="form-control" value="{{article.a_title}}" placeholder="请输入新标题" required autofocus autocomplete="off">
            </div>
          <!--标题：<input type="text" name="title">-->

          <font>修改内容：</font><textarea id="editor_id" name="content" style="width:100%; display:none;">{{article.content}}</textarea>
          <button class="btn btn-primary" type="submit" name="submit">更新</button>
          </div>

          <div class="col-md-3">
          <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>栏目</span></h2>
              <font class="old_part">栏目为：{{article.a_part}} 请修改</font>
              <div class="add-article-box-content">
                <select name="part" style="color: #777;">
                  {% for part in parts %}
                  <option value="{{part.p_name}}">{{part.p_name}}</option>
                  {% endfor %}

                  </select>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标签</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="输入新标签" name="tags" autocomplete="off" value="{{article.a_tag}}">
                <span class="prompt-text">多个标签请用英文逗号,隔开</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标题图片</span></h2>
              <div class="add-article-box-content">
                <input type="file" class="form-control" placeholder="点击按钮选择图片" id="pictureUpload" name="icon" autocomplete="off">
              <!--</div>-->
              <!--<div class="add-article-box-footer">-->
                <!--<button class="btn btn-default" type="button" ID="upImage">选择</button>-->
              <!--</div>-->
            </div>



              </div>
            </div>

        </form>

      </div>
    </div>
{% endblock %}

{% block js2 %}
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/admin-scripts.js"></script>
<script src="/static/lib/ueditor/ueditor.config.js"></script>
<script src="/static/lib/ueditor/ueditor.all.min.js"> </script>
<script src="/static/lib/ueditor/lang/zh-cn/zh-cn.js"></script>
<script id="uploadEditor" type="text/plain" style="display:none;"></script>
<script type="text/javascript">
var editor = UE.getEditor('article-content');
window.onresize=function(){
    window.location.reload();
}
var _uploadEditor;
$(function () {
    //重新实例化一个编辑器，防止在上面的editor编辑器中显示上传的图片或者文件
    _uploadEditor = UE.getEditor('uploadEditor');
    _uploadEditor.ready(function () {
        //设置编辑器不可用
        //_uploadEditor.setDisabled();
        //隐藏编辑器，因为不会用到这个编辑器实例，所以要隐藏
        _uploadEditor.hide();
        //侦听图片上传
        _uploadEditor.addListener('beforeInsertImage', function (t, arg) {
            //将地址赋值给相应的input,只去第一张图片的路径
            $("#pictureUpload").attr("value", arg[0].src);
            //图片预览
            //$("#imgPreview").attr("src", arg[0].src);
        })
        //侦听文件上传，取上传文件列表中第一个上传的文件的路径
        _uploadEditor.addListener('afterUpfile', function (t, arg) {
            $("#fileUpload").attr("value", _uploadEditor.options.filePath + arg[0].url);
        })
    });
});
//弹出图片上传的对话框
$('#upImage').click(function () {
    var myImage = _uploadEditor.getDialog("insertimage");
    myImage.open();
});
//弹出文件上传的对话框
function upFiles() {
    var myFiles = _uploadEditor.getDialog("attachment");
    myFiles.open();
}
</script>
{% endblock %}
